# Default ignored files
/shelf/
.idea/
.gradle/
gradle/
build/
settings.gradle
gradlew
gradlew.bat
data/

# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
